<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS Files/header.css">
    <link rel="stylesheet" href="/CSS Files/Product.css">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Header -->

    {{>Header}}
    <!-- Category Pane -->

    <br>
    <br>
    <div class="main">
        <div class="filter">
            <h1> Merchandise </h1>
            <h3>Filters</h3>
            <div class="check1">
                <h4> Categories </h4>
                <input type="checkbox" name="Hi">
                <span> Tshirts </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> Caps </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> Mens' Accessories </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> Womens' Accessories </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> Keychains </span>
                <br>
            </div>
            <div class="check1">
                <h4> Brands </h4>
                <input type="checkbox" name="Hi">
                <span> Sony </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> Redgear </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> Razor </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> Zebronics </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> Logitech </span>
                <br>
            </div>
            <div class="check1">
                <h4> Colours </h4>
                <input type="checkbox" name="Hi">
                <span> black </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> white </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> blue </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> red </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> Grey </span>
                <br>
            </div>
            <div class="check1">
                <h4> Price </h4>
                <input type="checkbox" name="Hi">
                <span> Less than 1000 </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> 1000-1999 </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> 2000-4999 </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> 5000-9999 </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> 10000 plus </span>
                <br>
            </div>
            <div class="check1">
                <h4> Discount </h4>
                <input type="checkbox" name="Hi">
                <span> Upto 10% </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> 10% to 25% </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> 25% to 50% </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> 50% to 60% </span>
                <br>
                <input type="checkbox" name="Hi">
                <span> More than 60% </span>
                <br>
            </div>
        </div>

        <!-- Products -->

        <div class="frame">
            <div class="frame_row">
                <div class="frame_cont">
                    <div class="image"></div>
                    <div class="desc"></div>
                </div>
                <div class="frame_cont">
                    <div class="image"></div>
                    <div class="desc"></div>
                </div>
                <div class="frame_cont">
                    <div class="image"></div>
                    <div class="desc"></div>
                </div>
            </div>
            <div class="frame_row">
                <div class="frame_cont">
                    <div class="image"></div>
                    <div class="desc"></div>
                </div>
                <div class="frame_cont">
                    <div class="image"></div>
                    <div class="desc"></div>
                </div>
                <div class="frame_cont">
                    <div class="image"></div>
                    <div class="desc"></div>
                </div>
            </div>
            <div class="frame_row">
                <div class="frame_cont">
                    <div class="image"></div>
                    <div class="desc"></div>
                </div>
                <div class="frame_cont">
                    <div class="image"></div>
                    <div class="desc"></div>
                </div>
                <div class="frame_cont">
                    <div class="image"></div>
                    <div class="desc"></div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <a href="#" class="see"> See More </a>
    <br>
    <br>

    <!-- Footer -->

        {{>Footer}}


    <!-- Script -->

    <script src="JS Files\Product.js"></script>
</body>

</html>